:root {
  --ff-primary: 'Roboto', sans-serif;

  --clr-primary: #fff;
  --clr-secondary: #8B8B8B;
  --clr-accent: #16DB99;

  --clr-form: #757575;

  --clr-message: #065F46;
  --clr-message-bg: #ECFDF5;

  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-900: 2.5rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: grey;
}

header{
  height: 167px;
  width: 600px;
  background: url(/menu-logo.png);
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding: 20px 40px 70px 40px
}

h1,h2,h3,h4,p{
  margin: 6px 0
}

h1,h4{
  color:white;
}


h1{
  font-size: 40px;
}

h2{
  font-size:28px
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}

/* Menu Container */

main{
  background-color: #eeeeee;
  padding: 10px 40px;
  width: 600px;
  height: 1161px;
}


/* buttons */

button {
  cursor: pointer;
}

.item-emoji{
  font-size:60px;
  opacity:0.8
}

.menu-item-container{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-bottom: solid 1px #D2D2D2;
  padding: 20px 0
}

.item-info-wrapper {
  width: 90%;
  padding-left: 30px;
}

.item-ingredients{
  font-size: 16px;
  color: #8B8B8B
}

.add-btn{
  width: 50px;
  height:50px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px #DEDEDE;
  color: #3C3C3C;
  align-self: center;
  font-size: 22px;
  font-weight: light;
  transition:0.3s
}

.add-btn:hover {
  background-color: #3C3C3C;
  border: none;
  color: white;
  opacity: 0.7;
}

/* Order container */

#order-container{
  display: block;
  background: #fff;
  padding: 20px;
}

.order-title{
    margin-top: 50px;
    text-align: center
}

.order-line{
    display: flex;
    align-items: center;
}
    .remove-btn{
    font-size: 18px;
    margin-left: 16px;
    color: #8B8B8B;
    cursor: pointer;
    }
    .price {
    margin: 0 0 0 auto; 
    }
    
.total-price-line{
    display: flex;
}
    .total-price{
        margin: 0 0 0 auto;
    }
    
.order-btn{
    background: #16DB99;
    border:none;
    color: #FFFFFF;
    width:100%;
    padding: 16px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 24px;
}

.card-details-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 3.88991px;
  width: 524px;
  height: 542.24px;    
}

.card-details-title{
  font-size: 1.5em;
  font-weight: 700;
  line-height: 31px;
  padding-bottom: 22px;
  text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 0px;
    gap: 10px;
}


input{
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px; 
    margin-top: 10px;
}

#pay-order{
    background: #16DB99;
    border:none;
    color: #FFFFFF;
    padding: 16px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 24px;
}

/* modal buttons */
.close-modal-btn-container{
    text-align: right;
    margin-right:20px;
}

.modal-close-btn {
  width: 50;
  height: 50;
  font-weight: light;
  background-color: transparent;
  border: 1px solid transparent;
  align-self: center;
  font-size: 22px;;
  padding: 12px;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}
  

.payment-modal-loading{
    padding-top:40%
}


.thanks-message{
  padding: 50px 60px;
  background: #ECFDF5;
  border-radius: 3px;
  font-size: 1.688em;
  color: #065F46;
  margin-top: 0;

}
.client-name{
    color: orange
}

.hidden {
    display:none
}

/*Media queries*/
@media only screen and (max-width: 768px) {

  body{
   margin: 0 auto;
  }
 
  header {
   width: 100%;
   padding: 20px;
   text-align: center;
 }
 
 .main-title {
  font-size: 1.5em;
 }
 
 .main-slogan {
  font-size: 1.2em;
 }
 
 .card-details-title {
   font-size: 16px;
 }
 
 main {
   width: 100%;
   padding: 10px;
   height: auto;
 }
 
 .menu-item-container {
   flex-direction: column;
   align-items: center;
   text-align: center;
 }
 
 .item-info-wrapper {
   width: 100%;
   padding-left: 0;
 }
 
 .order-title {
   margin-top: 30px;
 }

 #card-details-modal {
  width: 80%;
  padding: 20px;
  margin-top: 20px;
}
 
 }
 
 @media only screen and (max-width: 480px) {
   /* Styles for even smaller screen sizes */
   body {
     margin: 0 auto;
   }
 
   header {
     width: 100%;
     padding: 20px;
     text-align: center;
   }
 
   .main-title {
    font-size: 1.4em;
   }
 
   .main-slogan {
    font-size: 1.1em;
   }
 
   .card-details-title {
     font-size: 16px;
   }
 
   main {
     width: 100%;
     padding: 10px;
     height: auto;
   }
 
   .menu-item-container {
     flex-direction: column;
     align-items: center;
     text-align: center;
   }
 
   .item-info-wrapper {
     width: 100%;
     padding-left: 0;
   }
 
   .order-title {
     margin-top: 30px;
   }
 }
  